<!--Page for weekly tracker-->
<link rel="stylesheet" type="text/css" href="/css/weekly_tracker.css">
<link rel="stylesheet" type="text/css" href="/css/daily_habits.css">

<div id="weekly-box">
    <div id="weekly-del-name">
        <h4>Weekly Tracker</h4>
        <div id="del-name">
            <a href="/users/daily-habit">
                <button id="daily-btn" type="button" class="btn btn-outline-info" style="color: lightsteelblue; border-color: black;">Daily Habits</button>
            </a>
            <h5 id="habit-title"><%=weekly_tracker.habit_name%></h5>
            <a class="delete-post-button" id="del-btn" href="/habits/delete-habit/<%=weekly_tracker._id%>">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    </div>
<% const today = new Date(); %>
<% for (let i = 0; i < 7; i++) { %>
    <% const day = new Date(today.getTime() - i * 24 * 60 * 60 * 1000); %> 
    <%let days=day.toDateString()%>
    <div id="date-status">
        <div id="weekly-date">
            <i class="fa-regular fa-calendar"></i>
            <span><%= day.toDateString() %></span>
        </div>
        <div id="input-status">
        <form action="/habits/update-habit-weekly/<%=weekly_tracker._id%>" method="post">
        <input type="hidden" name="day" value="<%=days%>">
        <select name="status" id="">
            <option value="Done">Done</option>
            <option value="Not Done">Not Done</option>
        </select>
        <input type="submit" id="submit-status">
    </form>
    <%for(let dates of weekly_tracker.dates) {%>
       <% if(dates.date.toDateString()==days){%>
       
            <span id="status"><%=dates.status%></span> 
        <%}%>
    <%}%>
        </div>
    </div>
<%}%>

</div>
 
